#Paths for various external libraries and includes.

# Library root directory
$lib_root_path{?} = 

# GCOM
$gcom_root_path{?} = /opt/niwa/um_sys/um/gcom/7.6
$gcom_mpp_path = $gcom_root_path/niwa_cs500_ifort_impi/build
$gcom_serial_path = $gcom_root_path/niwa_cs500_ifort_serial/build

# NetCDF
$netcdf_path{?} = $EBROOTNETCDFMINFORTRAN
$netcdf_inc_path{?} = $netcdf_path/include
$netcdf_lib_path{?} = $netcdf_path/lib

# Dr Hook
$drhook_path{?} = 

# libm
$libm_path{?} = 
