$keys_platform{?} = C_LONG_LONG_INT=c_long_long_int \
                  \ FRL8=frl8 \
                  \ INTEL_FORTRAN=16000001 GNU_LIBC=2012000

$fc{?} = ifort

# Include the main compiler-level config file:
include = parallel.cfg

# Override the linker flags to specify a shared library build, remove
# references to GCOM and GRIB libraries and add the PIC flag:
$ldflags = $ldflags_overrides_prefix \
    \ -mcmodel=medium -shared -i8 -r8 -fpic \
    \ $ldflags_omp $ldflags_overrides_suffix

# Include the PIC flag to the C flags:
$ccflags = $ccflags -fpic 

# Override the flags to take out the inclusion of unneeded libraries
# and to add the PIC flag
$fcflags_common = $fcflags_prec                           \
                \ -std08                                  \
                \ -fpscomp logicals                       \
                \ -g                                      \
                \ -traceback                              \
                \ -diag-disable=6477,5268                 \
                \ -fpic                                   \
                \ -assume nosource_include,protect_parens

