$keys_platform{?} = C_LONG_LONG_INT=c_long_long_int FRL8=frl8 \
                  \ BUFRD_IO=bufrd_io \
                  \ INTEL_FORTRAN=16000001 GNU_LIBC=2012000

include = external_paths.cfg
$gcom_path{?} = $gcom_mpp_path

# Non-empty OpenMP and Dr Hook settings:
$fcflags_drhook_on{?} = -I$drhook_path/include
$ldflags_drhook_on{?} = -L$drhook_path/lib -ldrhook -qopenmp
$ccflags_omp_off{?} =
$ccflags_omp_on{?}  = -fopenmp
$fcflags_omp_on{?}  = -qopenmp
$ldflags_omp_on{?}  = -qopenmp

# GCOM OpenMP settings.
# Leave blank when the specified GCOM library does not use OpenMP.
$ldgcom_omp{?} = -qopenmp

# netcdf build flags:
$fcflags_netcdf_on{?} = -I$netcdf_inc_path
$ldflags_netcdf_on{?} = -Wl,-rpath,$netcdf_lib_path -L$netcdf_lib_path -lnetcdff

# Platform agnostic flags
$fppflags_platagnostic_on{?} = -undef

# Set user options, with defaults:
$openmp{?} = true
$DR_HOOK{?} = false
include = options/common.cfg

$fcflags_prec{?} = -i8 -r8 -mcmodel=medium

$fcflags_common = $fcflags_prec                           \
                \ -std08                                  \
                \ -fpscomp logicals                       \
                \ -g                                      \
                \ -diag-disable=6477,5268                 \
                \ -assume nosource_include,protect_parens \
                \ -I$gcom_path/include

$flags_coupling{?} =
$fcflags_coupling{?} = $flags_coupling
$fppflags_coupling{?} = $flags_coupling
$ccflags_coupling{?} = $flags_coupling
$cppflags_coupling{?} = $flags_coupling

$ldflags_coupling{?} =

$cpp{?} = mpicc
$cppflags{?} = -E -C $ccflags_omp

$cc{?} = gcc
$ccflags{?} = -g -O3 -std=gnu99 -Wall -Wformat=2 -Winit-self -Wfloat-equal \
    \ -Wpointer-arith -Wbad-function-cast -Wcast-qual -Wcast-align -Wconversion -Wlogical-op \
    \ -Wstrict-prototypes -Wmissing-declarations -Wredundant-decls -Wnested-externs \
    \ -Woverlength-strings $ccflags_omp -fdiagnostics-show-option

$fpp{?} = cpp
$fppflags{?} = -E -P -C -nostdinc

$fc{?} = mpif90
$ldflags_overrides_prefix{?} =
$ldflags_overrides_suffix{?} =
$ldflags{?} = $ldflags_overrides_prefix \
    \ $ldflags_omp $ldflags_drhook \
    \ -L$gcom_path/lib -lgcom $ldgcom_omp \
    \ $ldflags_netcdf \
    \ -mcmodel=medium -shared-intel \
    \ $ldflags_overrides_suffix
