# Serial-specific settings:

include = external_paths.cfg
$gcom_path{?} = $gcom_serial_path

# GCOM OpenMP settings.
# Leave blank when the specified GCOM library does not use OpenMP.
$ldgcom_omp{?} =

# Set a new OpenMP default for serial builds:
$openmp{?} = false

$fc{?} = ifort

# Include the main compiler-level config file:
include = parallel.cfg

# Reset common flags to include -traceback:
$fcflags_common = $fcflags_prec                           \
                \ -std08                                  \
                \ -fpscomp logicals                       \
                \ -g                                      \
                \ -traceback                              \
                \ -diag-disable=6477,5268                 \
                \ -assume nosource_include,protect_parens \
                \ -I$gcom_path/include
