# Paths for external libraries and includes.

# GCOM
$gcom_root_path{?} = /home/vagrant/umdir/gcom/default
$gcom_mpp_path = $gcom_root_path/vm_gfortran_mpich3/build
$gcom_serial_path = $gcom_root_path/vm_gfortran_serial/build

# NetCDF
$netcdf_path{?} = /usr
$netcdf_inc_path{?} = $netcdf_path/include
$netcdf_lib_path{?} = $netcdf_path/lib

# DrHook
$drhook_path{?} =
