$keys_platform{?} = C_LONG_LONG_INT=c_long_long_int \
                  \ FRL8=frl8 

$fc{?} = gfortran

# Include the main compiler-level config file:
include = parallel.cfg

# Override the linker flags to specify a shared library build, remove
# references to GCOM and GRIB libraries and add the PIC flag
#
$ldflags = $ldflags_overrides_prefix -shared   \
         \ $ldflags_omp $ldflags_drhook -fPIC  \
         \ $ldflags_overrides_suffix

# Add the PIC flag to the C flags
$ccflags = $ccflags -fPIC

# Override the flags to take out the inclusion of the GCOM and GRIB libraries
# and to add the PIC flag
$fcflags_common = $fcflags_prec                        \
                \ -std=f2008ts                         \
                \ -Wtabs                               \
                \ -fPIC
