# Override project and base extract locations:
$ukca_project_location{?} = /home/vagrant/source/ukca
$ukca_base{?} = trunk
$ukca_rev{?} =
$um_project_location{?} = /home/vagrant/source/um
$um_base{?} = trunk
$um_rev{?} =
$jules_project_location{?} = /home/vagrant/source/jules
$jules_base{?} = trunk
$jules_rev{?} =
$shumlib_project_location{?} = /home/vagrant/source/shumlib
$shumlib_base{?} = trunk
$shumlib_rev{?} =


$keys_platform{?} = C_LONG_LONG_INT=c_long_long_int FRL8=frl8 \
                  \ BUFRD_IO=bufrd_io \
                  \ GNU_FORTRAN=7003000 GNU_LIBC=2027000

include = $HERE/external_paths.cfg
$gcom_path{?} = $gcom_mpp_path

# Non-empty OpenMP and Dr Hook settings:
$fcflags_drhook_on{?} = -I$drhook_path/include
$ldflags_drhook_on{?} = -L$drhook_path/lib -ldrhook -fopenmp
$ccflags_omp_off{?} =
$fcflags_omp_on{?}  = -fopenmp
$ldflags_omp_on{?}  = -fopenmp
$ccflags_omp_on{?}  = -fopenmp

# GCOM OpenMP settings.
# Leave blank when the specified GCOM library does not use OpenMP.
$ldgcom_omp{?} = -fopenmp

# netcdf build flags:
$fcflags_netcdf_on{?} = -I$netcdf_inc_path
$ldflags_netcdf_on{?} = -L$netcdf_lib_path -lnetcdff -lnetcdf

# Set user options, with defaults:
$openmp{?} = true
$DR_HOOK{?} = false
include = options/common.cfg

$fcflags_prec{?} = -fdefault-integer-8 -fdefault-real-8 -fdefault-double-8

$fcflags_common = $fcflags_prec                        \
                \ -std=f2008ts                         \
                \ -Wtabs                               \
                \ -I$gcom_path/include

$flags_coupling{?} =
$fcflags_coupling{?} = $flags_coupling
$fppflags_coupling{?} = $flags_coupling
$ccflags_coupling{?} = $flags_coupling
$cppflags_coupling{?} = $flags_coupling

$ldflags_coupling{?} =

$cpp{?} = mpicc
$cppflags{?} = -E -C $ccflags_omp

$cc{?} = gcc
$ccflags{?} = -g -O3 -std=gnu99 -Wall -Wextra -Werror -Wformat=2 -Winit-self \
 \ -Wfloat-equal -Wpointer-arith -Wbad-function-cast -Wcast-qual -Wcast-align \
 \ -Wconversion -Wlogical-op -Wstrict-prototypes -Wmissing-declarations \
 \ -Wredundant-decls -Wnested-externs -Woverlength-strings $ccflags_omp \
 \ -fdiagnostics-show-option

$fpp{?} = cpp
$fppflags{?} = -E -P -C -undef -nostdinc

$fc{?} = mpif90
$ldflags_overrides_prefix{?} =
$ldflags_overrides_suffix{?} =
$ldflags{?} = $ldflags_overrides_prefix \
             \ $ldflags_omp $ldflags_drhook \
             \ -L$gcom_path/lib -lgcom $ldgcom_omp \
             \ $ldflags_netcdf \
             \ $ldflags_overrides_suffix
