# netcdf def:
$cppflags_netcdf{?} = NETCDF_AVAILABLE=netcdf_available
	
# Build dependency exclusions:
$nodep_options = $nodep_options netcdf
	
# netcdf build flags:
$fcflags_netcdf{?} = $fcflags_netcdf_on
$ldflags_netcdf{?} = $ldflags_netcdf_on
