include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level_noopt = -p -g -pg -Wall -ffpe-trap=invalid,zero -fbounds-check -Warray-bounds -fcheck-array-temporaries -finit-real=nan -fimplicit-none
$fcflags_level = -O0 $fcflags_level_noopt

include = ukca-box-common.cfg

# needed to fix issues from #194 - MUST USE -O1 as will not link correctly when using -O0
$fcflags_override_mismatch = $fcflags_common $fcflags_level_noopt $fcflags_options $fcflags_overrides -O1 -fallow-argument-mismatch

# Prevent memory faults when using OpenMP:
build-box.prop{fc.flags}[um/src/control/mpp/general_scatter_field.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Gfortran 6.x/7.x series: Prevent internal compiler error when OpenMP is on
build-box.prop{fc.flags}[um/src/control/misc/affinity_mod.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Relax Fortran standards checking on COSP:
build-box.prop{fc.flags}[um/src/atmosphere/COSP]  = $fcflags_all -std=gnu

# Fix issues with compile introduced in ukca:#194
build-box.prop{fc.flags}[um/src/control/ukca_interface/fastjx_specs.F90] = $fcflags_override_mismatch