include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level = -O2 -Werror -fbounds-check -Warray-bounds

include = ukca-box-common.cfg

# Prevent memory faults when using OpenMP:
build-box.prop{fc.flags}[um/src/control/mpp/general_scatter_field.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Gfortran 6.x/7.x series: Prevent internal compiler error when OpenMP is on
build-box.prop{fc.flags}[um/src/control/misc/affinity_mod.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Relax Fortran standards checking on COSP:
build-box.prop{fc.flags}[um/src/atmosphere/COSP]  = $fcflags_all -std=gnu

# Relax standards checking to avoid obsolescent statement function warning:
build-box.prop{fc.flags}[um/src/atmosphere/dynamics_advection/locate_hdps.F90]  = $fcflags_all -std=gnu
