include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level = -O0 -p -g -pg -Wall -ffpe-trap=invalid,zero -fbounds-check -Warray-bounds -fcheck-array-temporaries -finit-real=nan -fimplicit-none

include = ukca-box-common.cfg

$fcflags_override_mismatch = $fcflags_common $fcflags_omp -O0 $fcflags_drhook $fcflags_overrides -fallow-argument-mismatch

build-box.prop{fc.flags}[um/src/control/ukca_interface/emiss_io_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/control/ukca_interface/fastjx_specs.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/control/ukca_interface/ukca_scenario_rcp_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/control/coupling/hybrid_control_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/control/misc/ppxlook_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/control/top_level/history_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/client/ios.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/client/ios_client_queue.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/common/ios_comms.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/common/io_configuration_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/common/lustre_control_mod.F90] = $fcflags_override_mismatch
build-box.prop{fc.flags}[um/src/io_services/model_api/io.F90] = $fcflags_override_mismatch

# Prevent memory faults when using OpenMP:
build-box.prop{fc.flags}[um/src/control/mpp/general_scatter_field.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Gfortran 6.x/7.x series: Prevent internal compiler error when OpenMP is on
build-box.prop{fc.flags}[um/src/control/misc/affinity_mod.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Relax Fortran standards checking on COSP:
build-box.prop{fc.flags}[um/src/atmosphere/COSP]  = $fcflags_all -std=gnu

# Relax standards checking to avoid obsolescent statement function warning:
build-box.prop{fc.flags}[um/src/atmosphere/dynamics_advection/locate_hdps.F90]  = $fcflags_all -std=gnu
