# Common settings for user-defined preprocess and build options

# Initialise module dependencies:
$nodep_options{?} =
$nodep_include_options{?} =

# Set blank defaults for build flags:
$fcflags_drhook_on{?} =
$ldflags_drhook_on{?} =
$fcflags_omp_off{?} =
$ldflags_omp_off{?} =
$ccflags_omp_off{?} =
$fcflags_omp_on{?} =
$ldflags_omp_on{?} =
$ccflags_omp_on{?} =
$fcflags_mkl_on{?} =
$ldflags_mkl_on{?} =
$cppflags_mkl_on{?} =
$fcflags_netcdf_on{?} =
$ldflags_netcdf_on{?} =
$cppflags_thread_utils_on{?} = SHUM_USE_C_OPENMP_VIA_THREAD_UTILS=shum_use_c_openmp_via_thread_utils
$cppflags_thread_utils_off{?} =
$fppflags_platagnostic_on{?} =
$fppflags_platagnostic_off{?} =

# Ensure the following are defined if a default hasn't been set earlier:
$portio_version{?}             = 2A       # C95
$mpp_version{?}                = 1C       # C96
$timer_version{?}              = 3A       # C97
$land_surface_model{?}         = jules    # land surface model
$ls_precipitation_precision{?} = double
$recon_mpi{?}                  = parallel # Parallel/serial reconfiguration
$DR_HOOK{?}                    = false    # Dr Hook library
$openmp{?}                     = false    # OpenMP
$mkl{?}                        = false    # Intel Math Kernel Library
$netcdf{?}                     = false    # NetCDF support
$thread_utils{?}               = false    # Thread Utils Module (from SHUMlib)
$platagnostic{?}               = false    # Platform agnostic builds

# Choose CPP defs and build flags:
include = $HERE/portio/${portio_version}.cfg
include = $HERE/mpp/${mpp_version}.cfg
include = $HERE/timer/${timer_version}.cfg
include = $HERE/land_surface/${land_surface_model}.cfg
include = $HERE/ls_precip/${ls_precipitation_precision}.cfg
include = $HERE/recon_mpi/${recon_mpi}.cfg
include = $HERE/drhook/${DR_HOOK}.cfg
include = $HERE/openmp/${openmp}.cfg
include = $HERE/mkl/${mkl}.cfg
include = $HERE/netcdf/${netcdf}.cfg
include = $HERE/thread_utils/${thread_utils}.cfg
include = $HERE/platagnostic/${platagnostic}.cfg

# Collect build flags into a single variable for easy use:
$fcflags_options = $fcflags_omp $fcflags_drhook $fcflags_mkl $fcflags_netcdf
$fppflags_options = $fppflags_platagnostic
