include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

# Use -O2 since debug mode on Linux would take too long.
# Can be set to -O0 if required.
# -fp-model strict allows floating point exceptions.
# -check noarg_temp_created to prevent excessive stderr under normal use.
$fcflags_level = -O2 -no-vec -fp-model strict -C -check noarg_temp_created -ftrapuv -init=arrays

include = ukca-box-common.cfg


# Ifort 16.0.1: prevent internal compiler errors when OpenMP on
build-box.prop{fc.flags}[um/src/atmosphere/dynamics_advection/locate_hdps.F90] = $fcflags_common -O1 -fp-model precise -C -check noarg_temp_created -ftrapuv -init=arrays $fcflags_options $fcflags_overrides

