# Paths for external libraries and includes.
# Copied from meto-azspice-gnu on UM trunk
#
# Library root directory
$lib_root_path{?} = /home/users/umadmin

# GCOM
$gcom_root_path{?} = $lib_root_path/gcom/gcom8.4
$gcom_mpp_path = $gcom_root_path/meto_azspice_gfortran12_mpi/build
$gcom_serial_path = $gcom_root_path/meto_azspice_gfortran12_serial/build

# ecCodes - for the handling of GRIB data
$eccodes_path{?} = $ECCODES_ROOT

# NetCDF
$netcdf_path{?} = $NETCDFF_ROOT
$netcdf_inc_path{?} = $netcdf_path/include
$netcdf_lib_path{?} = $netcdf_path/lib

# Dr Hook
$drhook_path{?} = $lib_root_path/lib/gfortran-12.2.0-gcc-12.2.0/drhook/drhook-1.4
