$fc{?} = gfortran

# Include the main compiler-level config file:
include = parallel.cfg

# Override the linker flags to specify a shared library build, remove
# references to GCOM and GRIB libraries and add the PIC flag:
$ldflags = $ldflags_overrides_prefix \
    \ -shared -fPIC \
    \ $ldflags_omp $ldflags_overrides_suffix

# Include the PIC flag to the C flags:
$ccflags = $ccflags -fpic

# Override the flags to take out the inclusion of the GCOM and GRIB libraries
# and to add the PIC flag
$fcflags_common = $fcflags_prec                        \
                \ -std=f2018                           \
                \ -fPIC
