# Paths for external libraries and includes.

# Library root directory
$EX_UMDIR_OVERRIDE{?} = /projects/metoff/umdir
$lib_root_path{?} = $EX_UMDIR_OVERRIDE/lib/gnu-12.2.0

# GCOM
$gcom_root_path{?} = $lib_root_path/gcom/gcom-8.5
$gcom_mpp_path = $gcom_root_path/meto_ex1a_gfortran_mpp/build
$gcom_serial_path = $gcom_root_path/meto_ex1a_gfortran_serial/build

# ecCodes - for the handling of GRIB data
$ECCODES_VERSION{?} = eccodes-2.23.0
$eccodes_path{?} = $lib_root_path/eccodes/$ECCODES_VERSION/no-openmp

# DrHook
$drhook_path{?} = $lib_root_path/drhook/drhook-1.4
