$fc{?} = gfortran

# Include the main compiler-level config file:
include = parallel.cfg

# Add compiler specific RPATH flags not included in the LD_LIBRARY_PATH
# but required for successful builds
$ldflags_rpath = -Wl,--as-needed                               \
               \ -Wl,-rpath,/opt/cray/pe/gcc/10.3.0/snos/lib64 

# Override the linker flags to specify a shared library build, remove
# references to GCOM and GRIB libraries and add the PIC flag:
$ldflags = $ldflags_overrides_prefix              \
         \ -shared -fPIC $ldflags_rpath           \
         \ $ldflags_omp $ldflags_overrides_suffix

# Include the PIC flag to the C flags:
$ccflags = $ccflags -fpic 

# Override the flags to take out the inclusion of unneeded libraries
# and to add the PIC flag
$fcflags_common = $fcflags_prec                        \
                \ -std=f2018                           \
                \ -fPIC
