$keys_platform{?} = BUFRD_IO=bufrd_io \
                  \ GNU_FORTRAN=12002000 GNU_LIBC=2026000

$keys_platform_specific{?} = C_IO_COPY_FILE_RANGE=c_io_copy_file_range \
                           \ LUSTRE_IO=lustre_io \
                           \ LUSTRE_HAS_POOL=lustre_has_pool

include = external_paths.cfg
$gcom_path{?} = $gcom_mpp_path

# Non-empty OpenMP and Dr Hook settings:
$fcflags_drhook_on{?} = -I$drhook_path/include
$ldflags_drhook_on{?} = -L$drhook_path/lib -ldrhook -fopenmp
$ccflags_omp_off{?} =
$ccflags_omp_on{?}  = -fopenmp
$fcflags_omp_on{?}  = -fopenmp
$ldflags_omp_on{?}  = -fopenmp

# GCOM OpenMP settings.
# Leave blank when the specified GCOM library does not use OpenMP.
$ldgcom_omp{?} = -fopenmp

# eccodes build flags:
$fcflags_eccodes_on{?} = -I$eccodes_path/include
$ldflags_eccodes_on{?} = -Wl,-rpath,$eccodes_path/lib64 -L$eccodes_path/lib64 -leccodes_f90 -leccodes

# Platform agnostic flags
$fppflags_platagnostic_on{?} = -undef

# Set user options, with defaults:
$openmp{?} = true
$DR_HOOK{?} = false
include = options/common.cfg

$fcflags_prec{?} = -fdefault-integer-8 -fdefault-real-8 -fdefault-double-8

$fcflags_common = $fcflags_prec                        \
                \ -std=f2018                           \
                \ -g                                   \
                \ -I$gcom_path/include

$flags_coupling{?} =
$fcflags_coupling{?} = $flags_coupling
$fppflags_coupling{?} = $flags_coupling
$ccflags_coupling{?} = $flags_coupling
$cppflags_coupling{?} = $flags_coupling

$ldflags_coupling{?} =

$ldflags_lustre{?} = -llustreapi
$cppflags_lustre{?} =

$cpp{?} = cc
$cppflags{?} = -E -C $cppflags_lustre $ccflags_omp

$cc{?} = cc
$ccflags{?} = -g -O3 -std=gnu99 -Wall -Wextra -Werror -Wformat=2 -Winit-self -Wfloat-equal \
    \ -Wpointer-arith -Wbad-function-cast -Wcast-qual -Wcast-align -Wconversion -Wlogical-op \
    \ -Wstrict-prototypes -Wmissing-declarations -Wredundant-decls -Wnested-externs \
    \ -Woverlength-strings $ccflags_omp -fdiagnostics-show-option

$fpp{?} = cpp
$fppflags{?} = -E -P -C -nostdinc

$fc{?} = ftn
$ldflags_overrides_prefix{?} =
$ldflags_overrides_suffix{?} =
$ldflags{?} = $ldflags_overrides_prefix \
    \ -Wl,--as-needed \
    \ $ldflags_omp $ldflags_drhook \
    \ -L$gcom_path/lib -lgcom $ldgcom_omp \
    \ $ldflags_eccodes -lrt \
    \ $ldflags_lustre $ldflags_overrides_suffix
